@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchString">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <label>Filter by Category</label>

    @{
        foreach (var cate in Model.listCategory)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rdCategory" id="" value="@cate.CategoryId" onclick="updateTable('@cate.CategoryId')">
                <label class="form-check-label" >
                    @cate.CategoryName
                </label>
            </div>
        }
    }

    <table id="productTable" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ProductId</th>
                <th scope="col">ProductName</th>
                <th scope="col">CategoryName</th>
                <th scope="col">QuantityPerUnit</th>
                <th scope="col">UnitPrice</th>
                <th scope="col">UnitsInStock</th>
                <th scope="col">UnitsOnOrder</th>
                <th scope="col">ReorderLevel</th>
                <th scope="col">Discontinued</th>
            </tr>
        </thead>
        @foreach (var product in Model.list)
        {
            <tbody>
                <tr>
                    <th scope="row">@product.ProductId</th>
                    <td>@product.ProductName</td>
                    <td>@product.Category.CategoryName</td>
                    <td>@product.QuantityPerUnit</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td>@product.UnitsOnOrder</td>
                    <td>@product.ReorderLevel</td>
                    <td>@product.Discontinued</td>
                </tr>
            </tbody>
        }
    </table>

    <script>
    </script>
</div>
